.resume {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-image: url(./images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.edit-container {
    position: absolute;
    left:50%;
    display: inline-block;
}

.edit-form-1 {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    top: 50px;
}
.edit-form-2 {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    top: 50px;
}
.add-education {
    position: absolute;
    top: 25px;
    height: 20px;
    left: 47%;
}
.add-experience {
    position: absolute;
    top: 25px;
    height: 20px;
    left: 47%;
}
.edit-form-3 {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    top: 50px;
}
.general-information {
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
}
.education {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.experience {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    position: relative;
}

.education-unit {
    top: 50px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    position: relative;
}
.experience-unit {
    top: 50px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    position: relative;
}
.education-head {
    position: absolute;
    left: 35%;
}
.experience-head {
    position: absolute;
    left: 35%;
}
.info-head {
    left: 35%;
}